body {
}
 
#canvas {
  border: none;
  width: 640px;
  height: 480px;
}

#canvas-wrapper {
  width: 640px;
  height: 480px;
  margin: 5px auto;
}

#loadingtext {
  font-size: 2em;
  color: white;
}

#vertex-shader {
  width: 100%:
}

#fragment-shader {
  width: 100%:
}

#canvas-row {
  position: relative;
}

#apply-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

/* vim: set ts=2 sw=2 et: */
