#canvas {
  border: none;
  width: 100%;
  height: 100%;
}

#canvas-wrapper {
  width: 640px;
  height: 480px;
  margin: 5px auto;
}

#vertex-shader {
  width: 100%:
}

#fragment-shader {
  width: 100%:
}

#canvas-row {
  position: relative;
}

#apply-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

/* vim: set ts=2 sw=2 et: */
