body {
}
 
#canvas {
  border: none;
  width: 640px;
  height: 480px;
}

#canvas-wrapper {
  margin: 5px;
  width: 640px;
  height: 480px;
  margin: 0px auto;
}

#loadingtext {
  font-size: 2em;
  color: white;
}

#vertex-shader {
  width: 100%:
}

#fragment-shader {
  width: 100%:
}

/* vim: set ts=2 sw=2 et: */
